.about-section {
  background-color: #feafa4;
  margin-top: 112px;
  font-family: "Poppins", sans-serif;
}

.about {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}

.about-text p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  text-align: justify;
  letter-spacing: 0.01em;
  margin-bottom: 139px;
  margin: 0 220px 140px 220px;
}

.about img {
  max-width: 100%;
  margin-top: 130px;
  margin-bottom: 98px;
}

.info-section {
  margin-top: 120px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.info-text {
  margin: 120px 15%;
  padding: 24px 0 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 120px;
  text-align: center;
  background-color: #fe7968;
  width: auto;
  border-radius: 20px;
  font-size: 28px;
}

@media (max-width: 800px) {
  .info-text {
    display: block;
    width: auto;
    font-size: 20px;
  }

  .about img {
    width: 161px;
    margin-top: 83px;
    margin-bottom: 30px;
  }

  .about-text p {
    font-size: 16px;
    text-align: center;
    margin-top: -60px;
    line-height: 24px;
    margin: 0 52px 77px 52px;
  }
}
