@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

.lupa-password-section {
  height: 55vh;
  padding-top: 50px;
}

.triangle-top-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 270px 600px 0 0;
  border-color: #feafa4 transparent transparent transparent;
}

.triangle-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 400px;
  border-color: transparent transparent #feafa4 transparent;
}

.lupa-password-content {
  text-align: center;
  margin-right: 90px;
  margin-top: -200px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 20px;
  padding: 50px 54px;
  margin-top: 120px;
  border-radius: 8px;
  border: 1px solid #bfbfbf;
  background: var(--tb-p-80, #f5f5f5);
  /* shadow/7 */
  box-shadow: 0px 0px 20px 0px rgba(48, 48, 48, 0.2);
}

.lupa-password-content > h1 {
  color: #000;
  /* subheading/submed36 */
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.36px;
}

.lupa-password-content > p {
  color: #000;
  /* subheading/subreg24 */
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.24px;
}

.btn-whatsApp {
  background-color: #69b95c;
  border-radius: 2px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  width: 317px;
  padding: 6.4px 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 30px;
}

.btn-telegram {
  background-color: #5c7bb9;
  border-radius: 2px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.04);
  display: flex;
  width: 317px;
  padding: 6.4px 15px;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  gap: 10px;
}

.logo-image {
  width: 100%;
}

.login-animation {
  width: 613px;
  bottom: 100;
  left: 0;
}

.lupa-password-animation {
  position: relative;
  margin-top: 80px;
  right: 120px;
}
