.title-page-fakultas{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFC9C3;
    height: 82px;
}

.content-halaman-fakultas{
    max-height: 431px;

    margin-top: 30px;
    background-color: #FFE4E1;
    padding: 80px 185px;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-content{
    padding-bottom: 38px;
    font-size: 24px;
}
.button-fakultas{
    width: 816px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 kolom dengan lebar yang sama */
    grid-template-rows: repeat(2, 90px); /* 2 baris dengan tinggi yang otomatis */
    gap: 20px; /* Jarak antara tombol */
    
}

.btn-fakultas{
    background-color: #FE9486;
    border: 1px solid #FE9486;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 16px;
    width: 114px;
}