/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  width: 100%;
  z-index: 99999;
}

.logo-navbar {
  margin: 37px 50px;
}
.menu-bar {
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.menu-bar .textmenu {
  justify-content: flex-end;
  width: 616px;
  color: #fe7968;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  margin-top: 8px;
  gap: 24px;
  margin-right: 35px;
}

.textmenu .ant-menu-item {
  font-weight: bold;
}

.textmenu .ant-menu-item-selected {
  border-bottom: 2px solid #fe7968;
  background-color: transparent;
}

.textmenu .ant-menu-item:hover {
  background-color: transparent;
}

.btn-portal {
  border-radius: 0;
  padding: 0 30px;
  margin-right: 40px;
}
.menu-drawer {
  display: none;
}
.drawer {
  padding-top: 40px;
  background-color: #fe7968 !important;
}

.drawer > .menu-drawer {
  padding-top: 40px;
  background-color: #fe7968 !important;
}

/* Media Query */
@media screen and (max-width: 1190px) {
  .logo-navbar {
    width: 161px;
  }
  .btn-portal {
    display: none;
  }

  .textmenu {
    background-color: #fe7968;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }

  .textmenu .ant-menu-item {
    height: 52px;
  }

  .textmenu .ant-menu-item:hover {
    background-color: #fff !important;
    border-bottom: 4px solid #fe7968 !important;
    color: #fe7968 !important;
    box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25) !important;
    border-radius: 0;
  }

  .menu-drawer {
    color: #fe7968;
    font-size: 22px;
    display: inline-block;
    height: 50px;
  }

  .drawer .menu-drawer {
    background-color: #fe7968;
  }

  .menu-bar .textmenu {
    display: none;
  }

  .menu-button {
    display: block;
  }
}
/* Navbar End */
